/* Any !important rule is used to override any semantic-ui styles that I don't need/like */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
  font-size: 16px !important;
}

#root {
  width: 70%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  margin: 16px 0;
}

a:hover {
  text-decoration: underline !important;
}

.ui.button + .ui.button {
  margin: 0 8px !important;
}